
	<div class="container col-md-6">
		<legend>Regístrate</legend>
        <div id="objeto"></div>
		<form action="" method="POST" id="signup">
            <div class="form-group">
                <label for="name">Nombre(s)</label>	
                <input type="text" class="form-control rounded-pill" name="firstname"d="nombre" placeholder="Nombre">
            </div>
            <div class="form-group">
                <label for="lastname">Apellidos</label>	
                <input type="text" class="form-control rounded-pill" name="lastname" id="lastname" placeholder="Apellido">
            </div>
            <div class="form-group">
                <label for="email">Correo electrónico</label>
                <input type="email" class="form-control rounded-pill" name="email" id="email" placeholder="example@mail.com">
            </div>
            <div class="form-group">
                <label for="password">Contraseña</label>	
                <input type="password" class="form-control rounded-pill" name="password" id="password" placeholder="Contraseña">
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirmar contraseña</label>	
                <input type="password" class="form-control rounded-pill" name="confirmedPassword" id="confirmPassword" placeholder="Confirma tu contraseña">
            </div>
            <div class="form-group">
                <label for="age">Edad</label>	
                <input type="password" class="form-control rounded-pill" name="age" id="age" placeholder="Edad">
            </div>
            <div class="form-group">
                <label for="gender">Genero</label>	
                <select name="gender" id="gender">
                    <option value="1">Hombre</option>
                    <option value="2">Mujer</option>
                    <option value="3">Otro</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Registrate</button>
		  </form>
	</div>

    
